<launch>
    <node pkg="rm_fc" type="vins_to_mavros" name="vins_to_mavros" output="screen">
        <remap from="~vision_pose" to="/mavros/vision_pose/pose" />
        <remap from="~odom" to="/vins_node/odometry" />
    
        <param name="transform/x" value="0.0"/>  <!-- 相机到飞控的x偏移 -->
        <param name="transform/y" value="0"/>
        <param name="transform/z" value="0"/>
        <param name="transform/qx" value="0"/>
        <param name="transform/qy" value="0"/>
        <param name="transform/qz" value="0.0"/>
        <param name="transform/qw" value="1"/>
    </node>
</launch>